{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}

{% block content %}
    <div id="upload">
        <h1>Upload your photo right here !</h1>
        <div class="wrapper_form">
            {{ form_start( form ) }}
                <div id="form" class="clearfix">
                    <div id="sub-form1">
                        <h2>Upload from my own gallery</h2>
                        {{ form_label(form.album) }}
                        {{ form_widget( form.album ) }}
                        <div class="images_from_gallery">
                            <div class="show_images_button">Choose in the gallery</div>
                            <div class="wrapper_images">
                                <div class="close"></div>
                                <div class="wrapper_choix_image clearfix">
                                    <div class="line clearfix">
                                        <div class="choix_image first">
                                            <label for="test1">
                                                <div class="hover_choix_image"></div>
                                                <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
                                            </label>
                                            <div class="validate">Validate</div>
                                            <input id="test1" name="choix_image" type="radio"/>
                                        </div>
                                        <div class="choix_image">
                                            <label for="test2">
                                                <div class="hover_choix_image"></div>
                                                <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
                                            </label>
                                            <div class="validate">Validate</div>
                                            <input id="test2" name="choix_image" type="radio"/>
                                        </div>
                                        <div class="choix_image last">
                                            <label for="test3">
                                                <div class="hover_choix_image"></div>
                                                <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
                                            </label>
                                            <div class="validate">Validate</div>
                                            <input id="test3" name="choix_image" type="radio"/>
                                        </div>
                                    </div>
                                    <div class="line clearfix">
                                        <div class="choix_image first">
                                            <label for="test4">
                                                <div class="hover_choix_image"></div>
                                                <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
                                            </label>
                                            <div class="validate">Validate</div>
                                            <input id="test4" name="choix_image" type="radio"/>
                                        </div>
                                        <div class="choix_image">
                                            <label for="test5">
                                                <div class="hover_choix_image"></div>
                                                <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
                                            </label>
                                            <div class="validate">Validate</div>
                                            <input id="test5" name="choix_image" type="radio"/>
                                        </div>
                                        <div class="choix_image last">
                                            <label for="test6">
                                                <div class="hover_choix_image"></div>
                                                <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
                                            </label>
                                            <div class="validate">Validate</div>
                                            <input id="test6" name="choix_image" type="radio"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="sub-form2">
                        <h2>Upload from my computer</h2>
                        <label for="form_createAlbum">Create new album</label>
                        <input id="createAlbum" class="createAlbum" type="checkbox" value="createAlbum"/>
                        <label id="label_form_albumName" for="form_albumName" class="required form_labelAlbumName" style="display:none;">Album name</label>
                        <input type="text" id="form_albumName" name="form[albumName]">
                        {{ form_widget( form.albumName ) }}
                        {{ form_widget( form.album ) }}
                        <div>
                            {{ form_label( form.file ) }}
                            {{ form_widget( form.file ) }}
                        </div>
                        <div>
                            {{ form_label( form.text ) }}
                            {{ form_widget( form.text ) }}
                        </div>
                        <div class="submit_wrapper">
                            {{ form_row( form.envoyer ) }}
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>

    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    {% if error is not defined or error is empty %}
    <script type="text/javascript">
        function changeStateOfAlbumName(element){
            if( element.prop('checked') ){
                $('#label_form_albumName').css('display','block');
                $('#form_albumName').css('display','block');
            }else{
                $('#label_form_albumName').css('display','none');
                $('#form_albumName').css('display','none');

            }
        }

        $(document).ready(changeStateOfAlbumName($('#createAlbum')));
        $('#createAlbum').change(function(){
            changeStateOfAlbumName($(this));
        });

        //Afficher l'album photo facebook choisi au click
        $('.show_images_button').click(function(e){
            e.preventDefault();
            $('.wrapper_images').addClass('show');
            $('body').css('overflow','hidden');
            $('.wrapper_images .close, .choix_image .validate').click(function(f){
                f.preventDefault();
                $('.show').removeClass('show');
                $('body').css('overflow','');
            })
        });


        //Effet rollover sur le bouton radio pour choisir l'image
        $('.choix_image label').on('click', function(){
            var _this =  $(this).closest('.choix_image');
            $('.choix_image').not(_this).each(function(){
                var _this2 =  $(this);
                _this2.removeClass('active');
            });
            _this.addClass('active');
        });
    </script>
    </script>
    {% endif %}
{% endblock %}