{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}

{% block content %}
<h1>Become the sublime model<br />of Kawaii Pets</h1>
<h3>Upload your cutest photo<br />to become the new ambassador of Kawaii Pets</h3>
<div id="gallery" class="clearfix">
	<a class="openpop first" href="#id_1">
        <div class="hover_gallery"></div>
        <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
	</a>
	<div id="id_1" class="popup_participation">
		<a class="close" href=""><img alt="" src="{{ asset("bundles/dogefacebook/img/close.png") }}"></a>
        <div class="gal_content">
            <div class="frame">
            	<div class="visu"><div class="inside_visu"><img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}"></div></div>
            	<p class="pseudo">Pseudo</p>
            	<p>Réponse question</p>
            </div>
        </div>
	</div>
	<a class="openpop" href="#id_2">
        <div class="hover_gallery"></div>
		    <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
	</a>
	<div id="id_2" class="popup_participation">
		<a class="close" href=""><img alt="" src="{{ asset("bundles/dogefacebook/img/close.png") }}"></a>
        <div class="gal_content">
            <div class="frame">
            	<div class="visu"><div class="inside_visu"><img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}"></div></div>
            	<p class="pseudo">Pseudo</p>
            	<p>Réponse question</p>
            </div>
        </div>
	</div>
	<a class="openpop last" href="#id_3">
        <div class="hover_gallery"></div>
        <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
	</a>
	<div id="id_3" class="popup_participation">
		<a class="close" href=""><img alt="" src="{{ asset("bundles/dogefacebook/img/close.png") }}"></a>
        <div class="gal_content">
            <div class="frame">
            	<div class="visu"><div class="inside_visu"><img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}"></div></div>
            	<p class="pseudo">Pseudo</p>
            	<p>Réponse question</p>
            </div>
        </div>
	</div>
	<a class="openpop first" href="#id_4">
        <div class="hover_gallery"></div>
        <img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}">
	</a>
	<div id="id_4" class="popup_participation">
		<a class="close" href=""><img alt="" src="{{ asset("bundles/dogefacebook/img/close.png") }}"></a>
        <div class="gal_content">
            <div class="frame">
            	<div class="visu"><div class="inside_visu"><img alt="" src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}"></div></div>
            	<p class="pseudo">Pseudo</p>
            	<p>Réponse question</p>
            </div>
        </div>
	</div>
<!--<p class="npart">Aucune participation n'a encore été validée.</p>-->

	<div class="pager  pager_bottom">
		<a href="" title="">First</a>
		<a href="" title="">1</a>
		<a href="" title="">2</a>
		<p>...</p>
		<a href="" title="">22</a>
		<a href="" title="">23</a>
		<a href="" title="">Last</a>
	</div>
</div>
{% endblock %}

{% block js %}
    {{ parent() }}
{% endblock %}