{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}

{% block content %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=468672573284887";
                fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <script type="text/javascript">// <![CDATA[
            window.fbAsyncInit = function() {
                FB.init({
                    appId : '468672573284887', // Add your app ID # here
                    status : true, // checks login status
                    cookie : true, // enables cookies to allow the server to access the session
                    xfbml : true // parse XFBML
                });
                FB.Canvas.setAutoGrow(); // This is important, exclude this and the internet blows up
            };

        (function() {
            var e = document.createElement('script');
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());

        // ]]></script>
        <div>
            <h1>Become the sublime model<br />of Kawaii Pets</h1>
            <h3>Upload your cutest photo<br />to become the new ambassador of Kawaii Pets</h3>

            {% if app.user %}
                <a class="cta_home_link" href="{{ path("doge_facebook_upload") }}">
                    Participer
                </a>
                <a class="cta_home_link" href="{{ path("doge_facebook_gallery") }}">
                    Voter
                </a>
            {% else %}
                <a class="cta_home_link" href="{{ hwi_oauth_login_url("facebook") }}">
                    Login
                </a>
            {% endif %}
                <div class="slider_home_wrapper">
                    <ul class="slide_home">
                        <li>
                            <img src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}" alt="">
                        </li>
                        <li>
                            <img src="{{ asset("bundles/dogefacebook/img/slide02.jpg") }}" alt="">
                        </li>
                        <li>
                            <img src="{{ asset("bundles/dogefacebook/img/slide03.jpg") }}" alt="">
                        </li>
                    </ul>
                </div>
        </div>
        <div class="fb-like" data-href="https://dogesocialapp.herokuapp.com/app/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
{% endblock %}


{% block js %}
    {{ parent() }}
{% endblock %}