{% extends 'DogeFacebookBundle:Layout:layout.html.twig' %}



{% block content %}
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.3&appId=468672573284887";
                fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <div>
            <h1>Become the sublime model<br />of Kawaii Pets</h1>
            <h3>Upload your cutest photo<br />to become the new ambassador of Kawaii Pets</h3>

            <a class="cta_home_link" href="{% if app.user %}{{ path("doge_facebook_homepage") }}{% else %}{{ hwi_oauth_login_url("facebook") }}{% endif %}">
                {% if app.user %}Voir les photos{% else %}Login{% endif %}
            </a>

                <div class="slider_home_wrapper">
                    <ul class="slide_home">
                        <li>
                            <img src="{{ asset("bundles/dogefacebook/img/slide01.jpg") }}" alt="">
                        </li>
                        <li>
                            <img src="{{ asset("bundles/dogefacebook/img/slide02.jpg") }}" alt="">
                        </li>
                        <li>
                            <img src="{{ asset("bundles/dogefacebook/img/slide03.jpg") }}" alt="">
                        </li>
                    </ul>

                </div>

        </div>
        <div class="fb-like" data-href="https://dogesocialapp.herokuapp.com/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>

{% endblock %}


{% block js %}
    {{ parent() }}
{% endblock %}